.clearfix::after {
    content: " ";
    display: block;
    clear: both;
    
  } 


header { 
     
    padding: 30px;
    margin: auto;
    background: #ebebeb; 
    text-align: center;
    font-weight: normal;
}

body { 
    width: 960px;
    background: #777;
    font-size: 18px; 
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    padding: 20px;
}

#Nav {
   
    padding: 30px;
    margin: 10px auto; 
    background: #ebebeb; 
    text-align: center;
    
}

#section { 
      
    background: #ebebeb; 
    padding: 50px; 
    width: 495px;
    float: left;
    margin: auto;
    text-align: center;
    height: 150px;

}

#article {  
    padding: 10px 50px 10px;
    margin: 10px auto;
    background: #777; 
    text-align: center;
    color: #ebebeb; 
    width: 400px; 
}

#p { 
    padding: 10px; 
    margin: 10px auto;
    background: #ebebeb;
    color: #777;
    text-align: center; 
    width: 400px;
}

#h {
  padding: 10px; 
  margin: 10px auto; 
  background: #ebebeb;
  color: #777;
  text-align: center; 
  width: 400px;
}


#aside {
    
    float: right;
    padding: 0px 0px 230px 0px;
    margin: auto;
    background: #ebebeb;
    text-align: center;
    font-size: 18px;
    width: 350px;
}
    

footer {
  
  background: #ebebeb;
  bottom: 10px;
  width: 900px;
  position: absolute;
  margin: 19px 53px 24px 0px;
  padding: 30px;
  text-align: center;

}

  